.header {
	font-family: Niconne;
	background-color: black;
	font-size: 50px;
	color: seashell;
	opacity: .9; 
	text-align: left; 
	padding-left: 10px; 
	height: 69px; 
}

.navbar {
	text-decoration: underline; 
}


body {
	background-color: black;
	color: seashell;
	font-family: Helvetica; 
	text-align: center; 
}

#mission {
	background-image: url("img-mission-background.jpg");
}

footer {
	background-color: black;
	color: seashell;
	font-family: Helvetica; 
	text-align: center; 
}




